<h3>Total Number of Users</h3>
<%=@users%>
<h3>Total Post</h3>
<%=@posts%>
<h3>Most Liked Post</h3>
<%=@fav.content%>
<h3>Most Active User</h3>
<%=@active.name%>
<h3>Most Popular Category</h3>
<%=@popular.name%>
<h3>Average interactions per post</h3>
<%=@average_comments%>
<h3>Longest Post</h3>
<%=@longest.content%>