<h1>Sign Up</h1>
<%= form_for @user do |f|%>
    <%=f.label :name%>:
    <%=f.text_field :name%>
    <br><br>
    <%= f.label :photo%>:
    <%= f.text_field :photo_url%>
    <br><br>
    <%=f.label :bio%>:
    <%=f.text_area :bio, :cols => "50", :rows => "3"%>
    <br><br>
    <%= f.label :username%>:
    <%= f.text_field :username%>
    <br><br>
    <%= f.label :password%>:
    <%= f.password_field :password%>
    <br><br>
    <%= f.label :password_confirmation%>:
    <%= f.password_field :password_confirmation%>
    <br><br>
    <%= f.submit %>
<%end%>