<h2><%= @user.name %></h2>
<h3><%= @users%>
<img src=<%=@user.photo_url%> height = "150" width = "150">
<h2>Bio</h2>
<h3><%=@user.bio%><br>



<%@user.posts.sorted.each do |post|%>

<h5>Post</h5>
<%= post.content%> <label>#<%=link_to post.category.name,  category_path(post.category)%> <br/><br/>


<%= form_with url:"/comments", method: "post" do |f| %>
<%=f.text_field :content%>
<%=f.hidden_field :user_id, :value => session[:user_id]%>
<%=f.hidden_field :post_id, :value => post.id%>
<%= f.submit "Comment"%> 
<% end %>

<%= form_with url:"/upvote", method: "post" do |f| %>
<%=f.hidden_field :post_id, :value => post.id%>
<%= f.submit "LIKES"%> <%=post.likes.count%>
<% end %>

<h3>comments:</h3>  
<%post.comments.sorted.each do |comment|%> 
<%=link_to comment.user.name, user_path(comment.user)%>:
<%=comment.content%><br><br>

<%end%>
<%end%>