<h2><%= @user.name %></h2>
<img src=<%=@user.photo_url%> height = "150" width = "150">
<h2>Bio</h2>
<h3><%=@user.bio%><br>



<%@user.posts.each do |post|%>

<h5>Post</h5>
<li><%= post.content%> <label>#<%=link_to post.category.name,  category_path(post.category)%> <br/><br/></li>

<button><%=link_to "Comment", new_comment_path%></button>

<button> 
    <div>Like: <%= post.likes.count %></div>
</button>

<%#= link_to "Like:", "/upvote", controller: "likes", action: "upvote", name: "post_id", post_id: post.id %>


<h3>comments</h3>  
<%post.comments.each do |comment|%> 
<%=link_to comment.user.name, user_path(comment.user)%>:
<%=comment.content%><br><br>

<%end%>
<%end%>