<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
        <li style="font-size: 140%; color: red">
        <%= e %>
        </li>
    <% end %>
<% end %>

<br><br>
<%=form_for @post do |f|%>
<%=f.label :content%>
<%=f.text_field :content%>
<%=f.collection_select :category_id, @categories, :id, :name%>
<%= f.hidden_field :user_id, :value => session[:user_id]%>
<%=f.submit "create new post"%>
<%end%>