<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
      <% if logged_in? %>
      <ul>
        <div class= "nav-bar">
            <li><%= link_to "Home", user_path(session[:user_id])%></li>
            <li><%= link_to "Create Post", new_post_path  %></li>
            <li><%= link_to "Edit Profile", edit_user_path(session[:user_id])%></li>
            <li><%= link_to "Categories",  categories_path%></li>
            <li><%= link_to "Logout", logout_path, method: 'delete' %></li>
            <li><%= link_to "Analytics", analytics_path%></li>
        </div>
      </ul>
        <%end%>
    <%= yield %>
  </body>
</html>
