<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
        <% if logged_in? %>
        <div class= "nav-bar">
          <%= link_to "Home", user_path(session[:user_id])%>
          <%= link_to "Create Post", new_post_path  %>
          <%= link_to "Edit Profile", edit_user_path(session[:user_id])%>
          <%= link_to "Categories",  categories_path%>
          <%= link_to "Logout", logout_path, method: 'delete' %>
          <%= link_to "Analytics", analytics_path%>
        </div>
        <%end%>
    <%= yield %>
  </body>
</html>
